.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.google_font {
  font-family: 'Oswald', sans-serif;
}

.my_page {
  font-family: 'Oswald', sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: gray;
}
.my_page_border {
  border-radius: 15pt;
  border-color: darkgray;
  border-style: dashed;
  border-width: 2.5pt;
}
.my_page_panel {
  border-radius: 15pt;
  margin: 5pt;
  padding: 10pt;
  background-color: white;
}
.my_txt_left {
  
}